DATABASE_URL="postgresql://neondb_owner:npg_fVQEyo0gc5dI@ep-holy-fire-a855az45.eastus2.azure.neon.tech/neondb?sslmode=require&channel_binding=require"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="sua-chave-secreta-aqui"
NODE_ENV="development"
