DATABASE_URL="postgresql://postgres:h1Gg7RoN3AC9RtsC@db.hzozoyfxgqdbvjiwppcv.supabase.co:5432/postgres"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="sua-chave-secreta-aqui"
NODE_ENV="development"
