DATABASE_URL="postgresql://postgres:%40Ana.240623.@db.xmnephxqfxyvppshbmkn.supabase.co:5432/postgres"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="sua-chave-secreta-aqui-mude-em-producao"

# App
NODE_ENV="development"
